# This is an example config file
# Either copy or rename this file to end with .conf to use it
OS=rhels8.4.0
ARCH=x86_64
EXCLUDES="" #Space separated list of rpms to exclude from syncing
REPO_BASE_DIR=/install/repos
REPO_DIR=$REPO_BASE_DIR/$OS/$ARCH
REPOS=(
# Comment out any repo like this
#"sync-codeready-builder-for-rhel-8-x86_64-eus-rpms"
#"sync-duosecurity"
#"sync-epel"
#"sync-influxdata"
#"sync-puppet"
#"sync-rhel-8-for-x86_64-appstream-eus-rpms"
#"sync-rhel-8-for-x86_64-baseos-eus-rpms"
)
